<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Conflicted.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <Conflicted.Properties.Settings>
            <setting name="IgnoredFiles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>descriptor.mod</string>
                        <string>LICENSE</string>
                        <string>README.md</string>
                        <string>thumbnail.png</string>
                        <string>thumbnail.jpg</string>
                        <string>thumb.png</string>
                        <string>thumb.jpg</string>
                        <string>Patch Notes.txt</string>
                        <string>patch notes.txt</string>
                        <string>patchnotes.txt</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Conflicted.Properties.Settings>
    </applicationSettings>
</configuration>